.card .body {
  font-size: 14px;
  color: #555;
  padding: 15px;
}
.personImg {
  border-radius: 10px;
  height: 33px;
  width: 33px;
  background: #fff;
  position: inherit;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 2px;
}
