<div class="modal-header">
  <h1 *ngIf="isAddMode" class="modal-title">Add Event</h1>
  <h1 *ngIf="!isAddMode" class="modal-title">Edit Event</h1>

  
  <button type="button" class="close btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">X</span>
  </button>
</div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      
        <div class="row my-1">
            <div class="form-group col-6">
              <mat-form-field appearance="fill" class="selectGroup">
                <mat-label>Course</mat-label>
                <mat-select [(ngModel)]="chosenCourse" (valueChange)="choosenCourse($event)" name="course" required  >
                <mat-option>--</mat-option>
                <mat-option *ngFor="let courseName of courses" [value]="courseName">{{courseName}}</mat-option>
                </mat-select>
                </mat-form-field>
                </div>
                
            </div>
        
        <div class="row my-3">
            <div class="form-group col-6">
                <label>Color</label>
                <input type="color" id="Color" class="form-control" name="Color" [(ngModel)]="event.Color.primary"/>
            </div>
            <div class="form-group col-6">
            <label>Date</label>
              
                <input class="form-control" type="date" name="date" [(ngModel)]="date" disabled>
              </div>
          </div>

            

            <div class="row my-3">
              <div class="form-group col-6">
                <label>Start time</label>
            
              <input class="form-control" type="time" name="startDateString" [(ngModel)]="startDateString">
              </div>
              <div class="form-group col-6">
                <label>End Time</label>
                
              <input class="form-control" type="time" name="endDateString" [(ngModel)]="endDateString">
              </div> 
            </div>
            <div class="row my-3">
            <div class="form-group col-6">
              <label>Until Date</label>
              
              <input class="form-control" type="datetime-local" name="lastDateString" [(ngModel)]="lastDateString">
          </div>
        </div>
        <div class="row my-3">
            <div class="form-group col-6">
              <mat-form-field appearance="fill" class="selectTeacher">
            <mat-label>Teacher</mat-label>
            <mat-select   [(ngModel)]="this.chosenTeacher.Id" (valueChange)="choosenTeacher($event)"  name="chosenTeacher"  >
            <mat-option *ngFor="let teacher of teachersList" [value]="teacher.Id" >{{teacher.First_name}} {{teacher.Last_name}}</mat-option>
            </mat-select>
            </mat-form-field>

            </div>
          </div>
            <div class="form-group mb-3">
              <button name="save" [disabled]="loading"  class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>  
                Save
              </button>
              <a class="btn btn-link" name="close" (click)="activeModal.close(false)">Cancel</a>
          </div>
        </form> 
        </div>
