<div class="row my-3">
  <div class="col-2">
    <mat-card class="email_menu">
      <nav id="sidebarMenu" class="col-md-12 col-lg-12 d-md-block sidebar collapse w-100 h-100">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link">
                <button mat-raised-button class="compose" color="primary" (mwlClick)="composeView()">COMPOSE <strong>+</strong></button>
              </a>
            </li>
            <hr>
            <li class="nav-item" >
               
              <a mat-button (mwlClick)="sentView()"><mat-icon>send</mat-icon>  Sent</a>
            </li>
            <li class="nav-item">
              <a mat-button (mwlClick)="trashView()"> <mat-icon>delete_outline</mat-icon>  Trash</a>
            </li>
          </ul>
        </div>
      </nav>

    </mat-card>
  </div>
  <div class="col-lg-10">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <span><h2 class="page-title">Email</h2></span>
        </div>
      </div>

      <app-sent *ngIf="isSent"></app-sent>
      <app-compose *ngIf="isCompose"></app-compose>
      <app-trash *ngIf="isTrash"></app-trash>
    </div>
  </div>
</div>
