<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body">
          <div class="materialTableHeader">
            <div class="row justify-content-end">
                <div class="col">
                    <h2>Additional Links for learning</h2>
                </div>
              <div class="col-4">
                <ul class="header-buttons">
                  <li class="m-l-10" *ngIf="isStudent">
                    <div class="icon-button-demo">
                      <button mat-mini-fab="" (click)="openAddEditModal()" color="primary"
                        class="mat-focus-indicator mat-mini-fab mat-button-base mat-primary">
                        <i class="material-icons text-white">add</i>
                      </button>
                    </div>
                  </li>
                  <li class="m-l-10">
                    <div class="icon-button-demo">
                      <button mat-mini-fab="" color="primary" (click)="refresh()"
                        class="mat-focus-indicator mat-mini-fab mat-button-base mat-primary">
                        <i class="material-icons text-white">refresh</i>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <section>
            <p-carousel [value]="facultyList" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
              [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
              <ng-template pTemplate="header">
                <h2 class="text-center bold pt-3">Courses by Faculties</h2>
              </ng-template>
              <ng-template let-faculty pTemplate="item">
                <div class="card slider m-4 align-items-center justify-content-end"
                  [ngStyle]="{'background-image':setBackgroundImg(facultyList.indexOf(faculty))}">
                  <a class="stretched-link" (click)="getLinksByFaculty(faculty.FacultyName)"></a>
                  <h3 class="p-mb-1 text-white text-center align-middle bolder w-100">{{faculty.FacultyName}}</h3>
                </div>
              </ng-template>
            </p-carousel>
          </section>
          <div class="container usefullLinks py-4">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" target="_blank" href="https://www.youtube.com/">
                  <img class="d-block linkLogo rounded" src="assets/images/youTubeLogo.png" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://stackoverflow.com/"> <img
                    class="d-block linkLogo rounded" src="assets/images/1280px-Stack_Overflow_logo.svg.png" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://github.com/"> <img class="d-block linkLogo rounded"
                    src="assets/images/128-1280187_github-logo-png-github-transparent-png.png" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.linkedin.com/"> <img
                    class="d-block linkLogo rounded" src="assets/images/linkedin-logo.png" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://medium.com/"> <img class="d-block linkLogo rounded"
                    src="assets/images/1_jWvfVlJ5UpAqjbDxfVXX2g.png" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.coursera.org/"> <img
                    class="d-block linkLogo rounded" src="assets/images/Coursera_logo.png" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.udemy.com/"> <img class="d-block linkLogo rounded"
                    src="assets/images/Story_Logo_Udemy_262x110_1x.png" alt=""></a>
              </li>
            </ul>
          </div>
          <div *ngIf="isLoading" class="h6 mt-5 text-center">
            <img class="loadingImg" src="assets/images/loading.gif" alt="Loading...">
          </div>
          <div class="row mt-3">
            <div class="col-md-3" *ngFor="let link of filtredLinkList">
              <div class="card card-link">
                <div class="row">
                  <img [src]="createImgPath(link.Image)" alt="link img">
                </div>
                <div class="row">
                  <span class="text-center h5">{{link.Title}}</span>

                </div>
                <div class="row container my-3 description">
                  <p class="h-100">
                    {{link.Description}}
                  </p>
                </div>
                <a [href]="link.URL" target="_blank" class="btn btn-primary my-3">View more</a>
                <div class="action d-grid gap-2 d-md-flex justify-content-md-end my-2" *ngIf="isStudent">
                  <a type="button" (click)="openAddEditModal(link)"><i class="material-icons text-warning">edit</i></a>
                  <a type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    (click)="openDeleteModal(link)"><i class="material-icons text-danger">delete</i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteModalLabel">Delete Link</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Do you want delete:
        </p>
        <p class="text-danger">
          Link Name: {{link.Title}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger"
          (click)="deleteLink(link.Id)">Delete</button>
      </div>
    </div>
  </div>
</div>
