.description p{
    overflow-y: auto;
}
.card .body {
    font-size: 14px;
    color: #555;
    padding: 15px;
}
.slider
{
    height: 200px;
}

.description{
    height: 60px;
}

.linkLogo{
    width: 120px;
    height: 40px;
}
section{
    width: 80%;
    margin: 0 auto;
}