<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body">
          <div class="materialTableHeader">
            <div class="row">
              <div class="col-8 p-0">
                <ul class="header-buttons-left ml-0 p-0">
                  <li class="dropdown">
                    <h2>Sent</h2>
                  </li>
                  <li class="dropdown m-l-20 pt-2">
                    <label for="search-input">
                      <i class="material-icons search-icon">search</i>
                    </label>
                    <input matInput placeholder="Search" type="text" aria-label="Search box"
                      class="browser-default search-field" #input>
                  </li>
                </ul>
  
              </div>
              <div class="col-4">
                <ul class="header-buttons">
                    <li>
                        <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </li>
                  <li class="m-l-10">
                    <div class="icon-button-demo">
                      <button mat-mini-fab="" color="primary"
                        class="mat-focus-indicator mat-mini-fab mat-button-base mat-primary">
                        <i class="material-icons">refresh</i>
                      </button>
                    </div>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="Receiver">
              <th mat-header-cell *matHeaderCellDef> Receiver </th>
              <td mat-cell *matCellDef="let element "> <span class="receivers"> {{ (element.Receiver.length>6)? (element.Receiver | slice:0:6)+'..':(element.Receiver) }}</span> </td> 
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="Subject">
              <th mat-header-cell *matHeaderCellDef> Subject </th>
              <td mat-cell *matCellDef="let element"> {{element.Subject}}</td>
            </ng-container>
    
    
            <ng-container matColumnDef="DateTime">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{this.datepipe.transform(element.DateTime, 'short')}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openViewModal(row)"></tr>
    
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
       </div>
        </div>
        </div>