<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex bg-image"></div>
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div *ngIf="isLoginPage" class="col-lg-10 col-xl-7 mx-auto">
              <form novalidate [formGroup]="loginForm">
                <div id="login-container">
                  <h2 class="primary">Login</h2>
                  <mat-error *ngIf="isWrong">
                    Username or password is incorrect
                  </mat-error>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="User name" formControlName="userName" required>
                    <mat-error *ngIf="loginForm.controls['userName'].hasError('required')">
                      Please enter user name
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                      formControlName="password">
                    <mat-error *ngIf="loginForm.get('password').invalid">{{getValidationErrorMsg()}}</mat-error>
                  </mat-form-field>
                  <br>
                  <div class="d-grid gap-2">
                    <button mat-raised-button type="submit" color="primary" class="Login-btn btn-lg" (click)="onLogin()"
                      [disabled]="loginForm.invalid">Login  <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-3"></span></button>  
                  </div>
                  <div class="footer-sec">
                    <br>
                    <br>
                    <hr>
                    <a class="primary" routerLink='../forgot-pass'>Forgot Password?</a>
                    <br>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
