<nav id="sidebarMenu" class="col-md-12 col-lg-12 d-md-block sidebar collapse w-100 h-100">
    <div class="position-sticky">
      <ul class="nav flex-column">
        <li class="sidebar-user-panel nav-item pb-2">
          <div class="user-panel">
            <div class="image">
              <img alt="User Image" class="img-circle user-img-circle" src="assets/images/student.jpg">
            </div>
          </div>
          <div class="profile-usertitle">
            <div class="sidebar-userpic-name">Sarah Connor </div>
            <div class="profile-usertitle-job">Admin</div>
          </div>
        </li>
        <li class="nav-item pt-2">
          <a class="nav-link" aria-current="page" routerLink='admin/dashboard' routerLinkActive="active">
            <i class="material-icons">
              dashboard
            </i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='admin/teachers' routerLinkActive="active">
            <i class="material-icons">
              badge
            </i>
            <span data-feather="file"></span>
            Teachers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/students" routerLinkActive="active">
            <i class="material-icons">
              recent_actors
            </i>
            <span data-feather="shopping-cart"></span>
            Students
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/courses" routerLinkActive="active">
            <i class="material-icons">
              local_library
            </i>
            <span data-feather="users"></span>
            Courses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/groups" routerLinkActive="active">
            <i class="material-icons">
              groups
            </i>
            <span data-feather="file"></span>
            Groups
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/faculties" routerLinkActive="active">
            <i class="material-icons">
              auto_stories
            </i>
            <span data-feather="bar-chart-2"></span>
            Faculties
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/time-table" routerLinkActive="active">
            <i class="material-icons">
              today
            </i>
            <span data-feather="layers"></span>
            Time table
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="admin/exams" routerLinkActive="active">
              <i class="material-icons">
                analytics
              </i>
              <span data-feather="file-text"></span>
              Exams
              <!-- Will be dropdown menu for 
              -grades
              -exam scheduler -->
            </a>
          </li>
      </ul>
      <hr>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/email" routerLinkActive="active">
            <i class="material-icons">
              contact_mail
            </i>
            <span data-feather="file-text"></span>
           Email
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/holiday" routerLinkActive="active">
            <i class="material-icons">
              holiday_village
            </i>
            <span data-feather="file-text"></span>
            Holiday
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/reports" routerLinkActive="active">
            <i class="material-icons">
              library_books            </i>
            <span data-feather="file-text"></span>
           Reports
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="admin/links" routerLinkActive="active">
              <i class="material-icons">
                share
              </i>
              <span data-feather="file-text"></span>
              Links
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="admin/requests" routerLinkActive="active">
              <i class="material-icons">
                description
              </i>
              <span data-feather="file-text"></span>
             Requests
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/staff"   routerLinkActive="active">
              <i class="material-icons">
                manage_accounts
              </i>
              <span data-feather="file-text"></span>
             Staff
            </a>
          </li>
      </ul>
    </div>
  </nav>