<div class="modal-header">
    <h1 *ngIf="isAddMode" class="modal-title">Add Student</h1>
    <h1 *ngIf="!isAddMode" class="modal-title">Edit Student</h1>
       
</div>
    <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit()" >
            <div>
                <div class="form-group" [ngClass]="{'d-none' : !isAddMode}">
                    <label>ID</label>
                    <input type="text" class="form-control" id="Id" name="Id" [(ngModel)]="editStudent.Id" #Id='ngModel' required
                    length="9"/>
                    <div class="alert alert-danger" *ngIf="Id.errors && (Id.dirty || form.submitted)">
                        <div *ngIf="Id.errors.required">Id is required.</div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="form-group col-6">
                    <label>First Name</label>
                    <input type="text" id="First_name" class="form-control" name="First_name" [(ngModel)]="editStudent.First_name"  required #First_Name="ngModel"/>
                    <div class="alert alert-danger" *ngIf="First_Name.errors && (First_Name.dirty || form.submitted)">
                        <div *ngIf="First_Name.errors.required">First Name is required.</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Last Name</label>
                    <input type="text" id="Last_name" class="form-control" name="Last_name" [(ngModel)]="editStudent.Last_name" required
                    #Last_Name="ngModel">
                    <div class="form-control-feedback  alert alert-danger"
                        *ngIf="Last_Name.errors && (Last_Name.dirty || form.submitted)">
                        <p *ngIf="Last_Name.errors.required">Last name is required</p>
                    </div>
                </div>
             </div>
            <div class="row mb-3">
                <div class="form-group col-6">
                    <label>Email</label>
                    <input type="text" id="Email" class="form-control"  name="Email" [(ngModel)]="editStudent.Email" required #Email="ngModel" pattern="[^ @]*@[^ @]*"/>
                    <div class="form-control-feedback alert alert-danger"
                    *ngIf="Email.errors && (Email.dirty || form.submitted)">
                   <p *ngIf="Email.errors.required">Email is required</p>
                   <p *ngIf="Email.errors.pattern">Email must contain at least the @ character</p>
               </div>
                </div>
                <div class="form-group col-6">
                    <label>Phone</label>
                    <input type="number" id="Phone" class="form-control" name="Phone" required name="Phone" [(ngModel)]="editStudent.Phone" #Phone="ngModel"/>
                <div class="form-control-feedback  alert alert-danger"
                *ngIf="Phone.errors && (Phone.dirty || form.submitted)">
                <p *ngIf="Phone.errors.required">Phone is required</p>
            </div>
        </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col">
                    <div>Gender </div>
                    <div class="row">
                        <div class="col-4">
                            <input class="pl-3" type="radio" value="male" id="Gender" name="Gender" required [(ngModel)]="editStudent.Gender"> Male
                        </div>
                        <div class="col">
                            <input class="pl-3" type="radio" value="female" id="Gender" name="Gender" required [(ngModel)]="editStudent.Gender"> Female
                        </div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Birth Date</label>
                    <input type="date"  id="Birth_date" class="form-control" name="Birth_date" required [(ngModel)]="editStudent.Birth_date" #birth="ngModel" />
                
                <div class="form-control-feedback  alert alert-danger"
                *ngIf="birth.errors && (birth.dirty || form.submitted)">
                <p *ngIf="birth.errors.required">Birth date is required</p>
            </div>
        </div>
            </div>
                <div class="row mb-3" ngModelGroup="Address">
                    <div class="col-4 form-group">
                      <label for="city">City</label>
                      <input type="text" id="City" name="City" class="form-control" required [(ngModel)]="address.City" #city="ngModel">
                      <div class="form-control-feedback  alert alert-danger"
                *ngIf="city.errors && (city.dirty || form.submitted)">
                <p *ngIf="city.errors.required">City is required</p>
            </div>
                    </div>
                 
                    <div class="col-4 form-group">
                      <label for="street">Street</label>
                      <input type="text" id="Street" name="Street"  class="form-control" required [(ngModel)]="address.Street" #street="ngModel"> 
                      <div class="form-control-feedback  alert alert-danger"
                      *ngIf="street.errors && (street.dirty || form.submitted)">
                      <p *ngIf="street.errors.required">Street and number of home is required</p>
                  </div>
                    </div>
                 
                    <div class="col-4 form-group">
                      <label for="pincode">Zip Code</label>
                      <input type="text" id="ZipCode" name="ZipCode" class="form-control" required [(ngModel)]="address.ZipCode">
                    </div>
                  </div>

            
                <div class="row my-3">
                 <div class="form-group col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose Group</mat-label>
                        <mat-select [(ngModel)]="editStudent.Group_Id" (valueChange)="choosenGroup($event)" name="group" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let c of groupList" [value]="c.GroupNumber">{{c.GroupNumber}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="groupControl.hasError('required')">Please choose a group</mat-error>
                        <mat-hint>You can pick up a group for a new student here</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group col-6" [ngClass]="{'d-none': !isAddMode}">
                    <label>Image</label>
                    <input type="file" id="Image"  #file class="form-control" name="Image" required
                    (change)="uploadFile(file.files)"/>   
                </div>
            </div>
            
             <div class="form-group mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
                <a class="btn btn-link" (click)="activeModal.close('Close click')">Close</a>
            </div>
        </form>
    </div>



