<!-- <pre>{{progressInfo | json}}</pre> -->
<div class="row">
<div class="materialTableHeader">
    <div class="row header">
      <div class="col">
        <strong>Subject</strong>
      </div>
      <div class="col">
        <strong>Progress</strong>
      </div>
      <div class="col">
        <strong>Duration</strong>
      </div>
     
  </div>
</div>
</div>

<div class="row items" *ngFor="let item of progressInfo">
    <div class="col">
      {{item.course}}
</div>
<div class="col">
    {{item.progressPercentage.toFixed(0)}}% 
    <mat-progress-bar mode="determinate" [value]="item.progressPercentage" [color]="item.progressPercentage < 15   ? 'warn':'primary'" ></mat-progress-bar>
</div>
<div class="col">
    {{item.duration}} hours
</div>
<hr>
</div>
