
<div class="modal-header">
    <h1 *ngIf="isAddMode" class="modal-title">Add Exam</h1>
    <h1 *ngIf="!isAddMode" class="modal-title">Edit Exam</h1>   
</div>
    <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit()" >
            <div class="w-25 mb-3">
                <mat-label>Academic Year</mat-label>
                <input type="text" id="Year" class="form-control" name="Year" [(ngModel)]="newExam.Year"  required #Year="ngModel"/>
                <div class="alert alert-danger" *ngIf="Year.errors && (Year.dirty || form.submitted)"></div>
            </div>
   
                <div class="row mb-3">
                    <div class="form-group col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose Faculty</mat-label>
                            <mat-select [(ngModel)]="newExam.Fac_name" (valueChange)="choosenFaculty($event)" name="Faculty" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let f of facultyList" [value]="f.FacultyName">{{f.FacultyName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose Group</mat-label>
                            <mat-select [(ngModel)]="newExam.Group_num" (valueChange)="choosenGroup($event)" name="Group" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let g of groupList" [value]="g.GroupNumber">{{g.GroupNumber}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose Course</mat-label>
                            <mat-select [(ngModel)]="newExam.Course" (valueChange)="choosenCourse($event)" name="Course" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let course of courseList" [value]="course">{{course}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose Teacher</mat-label>
                            <mat-select [(ngModel)]="newExam.Teacher_id"  name="Teacher" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let t of teacherList" [value]="t.Id">{{t.Last_name}}  {{t.First_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
               <div class="row w-100">
                    <div class="col-2  form-group">
                        <mat-label>Room</mat-label>
                        <input type="text" id="room" class="form-control" name="room" [(ngModel)]="newExam.Room"  required #Room="ngModel"/>
                        <div class="alert alert-danger" *ngIf="Room.errors && (Room.dirty || form.submitted)"></div>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Semester</mat-label>
                            <mat-select [(ngModel)]="newExam.Semester"  name="Semester" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let semester of examDetails.Semester" [value]="semester">{{semester}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Test Number</mat-label>
                            <mat-select [(ngModel)]="newExam.Test_num"  name="Test_num" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let test of examDetails.TestNumber" [value]="test">{{test}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
               </div>
               <div class="row">
                   <div class="col-6 form-group">  
                    <mat-label>Exam Date</mat-label>
                        <input class="form-control" type="date" name="date" [(ngModel)]="newExam.ExamDate" required>
                   </div>
                   <div class="col-3 form-group">
                    <mat-label>Start time</mat-label>
                    <input class="form-control" type="time" name="startTime" step="900" [(ngModel)]="newExam.StartTime" min="08:00" max="20:00" required>
                   </div>
                   <div class="col-3 form-group">
                    <mat-label>End time</mat-label>
                    <input class="form-control" type="time" name="endtime" min="08:00" max="22:00" required [(ngModel)]="newExam.EndTime" required>
                   </div>
               </div>
                <div class="form-group mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
                    <button [disabled]="isLoading" class="btn btn-primary">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                    <a class="btn btn-link" (click)="activeModal.close('Close click')">Close</a>
                </div>
            </form>
    </div>



