<!-- Add and Edit Modal -->
<div class="modal-header">
  <h1 class="modal-title">Edit Profile</h1>
</div>
<div class="modal-body" >
  <form #form="ngForm">
    <div class="row my-3">
      <div class="form-group col-6">
        <img class="img-thumbnail profileImg mb-2" [src]="createImgPath(userProfile.Image)" alt="user img">
        <input type="file" id="Image" #file class="form-control" name="Image" required
          (change)="uploadFile(file.files)" />
      </div>
      <div class="form-group col-6">
          <div class="row">
              <div class="col-10 form-group">
                <label>Email</label>
                <input type="text" id="Email" class="form-control" name="Email" [(ngModel)]="userProfile.Email" required
                  #Email="ngModel" />
                <div class="alert alert-danger" *ngIf="Email.errors && (Email.dirty || form.submitted)">
                </div>
              </div>
              <div class="form-group col-10">
                <label>Phone</label>
                <input type="text" id="Phone" class="form-control" name="Phone" [(ngModel)]="userProfile.Phone" required
                  #Phone="ngModel" />
                <div class="alert alert-danger" *ngIf="Phone.errors && (Phone.dirty || form.submitted)">
                </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-group col-4">
        <label>City</label>
        <input type="text" id="City" class="form-control" name="City" [(ngModel)]="userProfile.Address.City" required
          #City="ngModel" />
        <div class="form-control-feedback alert alert-danger" *ngIf="City.errors && (City.dirty || form.submitted)">
        </div>
      </div>
      <div class="form-group col-4">
        <label>Street</label>
        <input type="text" id="Street" class="form-control" name="Street" [(ngModel)]="userProfile.Address.Street"
          required #Street="ngModel" />
        <div class="form-control-feedback alert alert-danger" *ngIf="Street.errors && (Street.dirty || form.submitted)">
        </div>
      </div>
      <div class="form-group col-4">
        <label>ZipCode</label>
        <input type="number" id="ZipCode" class="form-control" name="ZipCode" [(ngModel)]="userProfile.Address.ZipCode"
          required #ZipCode="ngModel" />
        <div class="form-control-feedback alert alert-danger"
          *ngIf="ZipCode.errors && (ZipCode.dirty || form.submitted)">
        </div>
      </div>
    </div>
    <div class="row my-3 align-items-end">
        <div class="form-group col-6">
          <button class="btn btn-primary" (click)="changePassword()">
            Change Password
          </button>
        </div>
        <div class="row" *ngIf="showPasswordField">
          <div class="col-8">
            <label>Current Password</label>
            <input type="password" id="Description" class="form-control" name="Description" (click)="isCurrent=true" (blur)="checkCurrentPWD()" [(ngModel)]="currentPWD"
              #Password="ngModel">
              <div class="alert alert-danger" *ngIf="!isCurrent">
                <div *ngIf="!isCurrent">The password you typed does not match the current password</div>
            </div>
          </div>
          <div class="col-8">
            <label>New Password</label>
            <input type="password" (click)="isSame=isCorrectFormat=true"  id="Description" class="form-control"  name="Description" [(ngModel)]="newPWD" (blur)="checkNewPWD()" 
              #Password="ngModel">
              <div class="alert alert-danger"   *ngIf="newPWD.length < 5 && newPWD.length != 0 && isCurrent">
                <div *ngIf="newPWD.length < 5 && newPWD.length != 0 && isCurrent" >New Password must contain at least 5 symbols </div>
            </div>
            <div class="alert alert-danger"   *ngIf="!isCorrectFormat  && isCurrent && newPWD.length > 0">
              <div *ngIf="!isCorrectFormat && isCurrent" >Incorrect symbols in new password.Use letters and digits only. </div>
          </div>
          <div class="alert alert-danger"   *ngIf="!isSame  && isCurrent && newPWD.length > 0">
            <div *ngIf="!isSame && isCurrent" >The new password cannot be the same as the current password </div>
        </div>
          </div>
          <div class="col-8">
            <label>Confirm Password</label>
            <input type="password" id="Description" (blur)="confirmNewPWD()" (click)="isConfirmed=true"  class="form-control" name="Description" [(ngModel)]="confirmPWD"
              #Password="ngModel">
              <div class="alert alert-danger" *ngIf="!isConfirmed && isCurrent">
                <div *ngIf="!isConfirmed">The password confirm does not match</div>
            </div>
            <div class="alert alert-danger" *ngIf="newPWD.length == 0 && confirmPWD.length > 0">
              <div *ngIf="newPWD.length == 0">New password field is empty</div>
          </div>
          </div>
        </div>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
  <button [disabled]="isLoading || !isConfirmed " class="btn btn-primary" (click)="onSubmit()">
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
    Save
  </button>
</div>
