:host {

  background-color: EFF2FB;
  padding: 30px;

}

.content {
  padding: 20px;
}

.requests {
  width: 100%;
}

mat-card.mat-elevation-z4 {
  width: 15%;

}

iframe {
  background-color: var(--background-default);

}

iframe,
.chart-class-vertical {
  width: 100%;
  height: 100%;
}

p {
  font-weight: 600;
  margin: 20px;
}

.calendar {
  width: 45.4%;
  height: auto;
  margin: 10px 26px;
}

.chart {
  width: 45.4%;
  height: auto;
  margin: 10px 26px;
}

::ng-deep .ngx-charts { 
  text{
      fill: var(--color-light)!important; 
  }
}
// ::ng-deep .ng-star-inserted
// {
//   color: var(--color-dark);
//   background-color: var(--background-default);

// }

.mat-card-title {
  font-size: 20px;
  margin-bottom: 9.5%;
}

.mat-card-actions {
  margin-top: 1px;
}

img {
  height: 15rem;
}

span {
  color: green;
}

.mat-card-actions {
  text-align: center;
}
