.mat-card
{
    margin:4% 4%;
    text-align: center;
}
.days{
    text-align: center;
}
.groupName
{
    text-align: center;
    font-style: italic;
}
#calendarBtn{
    
    color: rgb(69, 141, 67);
    background-color: var(--background-default) !important;
}
