@import '~angular-calendar/scss/angular-calendar.scss';
h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  button{
    margin:5px;
  }
  mat-form-field{
  margin: auto;
  width: 8%;
  padding: 10px;
  background: white;  
  }


mat-select{
  font-weight: 500;  
  font-style: italic;
  }
  mat-label{
    opacity:0.6;
    text-align: center;
  }
 
  ::ng-deep.cal-week-view .cal-time-events .cal-event {
    background-color: rgb(240, 241, 229) !important;
    border-width: 3px !important;
    border-style: none none none solid !important;
  }
  ::ng-deep.cal-event-title{
    font-size: 15px !important;
    font-style: italic;
  }
  // ::ng-deep.cal-cell-top 
  // {
   
  // }
  ::ng-deep.ng-start-inserted {
    width: 10px;
    height: 10px;
    border-radius:0%;
    display: inline-block;
    margin: 2px;
}
.mat-card.calendar
{
  margin:10px;
}

.addButton
{
  color:grey;
  margin-left:90%;
 
}
.addButton:hover
{
  color:rgba(25, 13, 70, 0.829)
}