<ng-template #customCellTemplate let-day="day" let-openDay="openDay" let-locale="locale"
  let-tooltipPlacement="tooltipPlacement" let-highlightDay="highlightDay" let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked" let-tooltipTemplate="tooltipTemplate" let-tooltipAppendToBody="tooltipAppendToBody">


  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>

  <div class="addEventSection">
    <mat-icon *ngIf="addBtn" class="addButton" (click)="openAddModal(day)">add</mat-icon>
  </div>
  <div class="cal-events" *ngIf="day.events.length > 0">

    <div class="cal-event" *ngFor="let event of day.events;" [style.backgroundColor]="event.color?.primary"
      [ngClass]="event?.cssClass" (mouseenter)="highlightDay.emit({event: event})"
      (mouseleave)="unhighlightDay.emit({event: event})"
      [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event" [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="event" [tooltipTemplate]="tooltipTemplate" [tooltipAppendToBody]="tooltipAppendToBody"
      mwlDraggable [class.cal-draggable]="event.draggable" dragActiveClass="cal-drag-active"
      [dropData]="{event: event, draggedFrom: day}" [dragAxis]="{x: event.draggable, y: event.draggable}"
      (mwlClick)="eventClicked.emit({ event: event })">
    </div>
  </div>


</ng-template>

<div class="container-fluid py-4 mb-5">
  <mat-card class="mat-elevation-z4 calendar mb-3">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Previous
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">

        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">
            Month
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Week
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Day
          </div>
        </div>
      </div>

    </div>
    <br />
    <div [ngSwitch]="view">
      <div class="row text-center">
        <div>
          <mat-form-field appearance="fill" class="selectGroup">
            <mat-label>Group</mat-label>
            <mat-select [(ngModel)]="chosenGroup" (valueChange)="choosenGroup($event)" name="group">
              <mat-option *ngFor="let c of groupList" [value]="c.GroupNumber">{{c.GroupNumber}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="send">
          <button (click)="createMessage()" mat-raised-button>Send Time Table</button>
        </div>

      </div>

      <div>

        <div *ngIf="isLoading" class="h6 mt-5 text-center">
          <img class="loadingImg" src="assets/images/loading.gif" alt="Loading...">
        </div>
        <div *ngIf="!isLoading">
          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
            [cellTemplate]="customCellTemplate" [events]="calendarEvents" [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (beforeViewRender)="updateCalendarEvents($event)" (eventClicked)="editEvent($event.event)">
          </mwl-calendar-month-view>

        </div>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="calendarEvents"
          (dayClicked)="addEvent()" [refresh]="refresh" (hourSegmentClicked)="openAddModal($event)"
          (eventClicked)="editEvent($event.event)" (beforeViewRender)="updateCalendarEvents($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="calendarEvents"
          [refresh]="refresh" (hourSegmentClicked)="openAddModal($event)" (eventClicked)="editEvent($event.event)"
          (beforeViewRender)="updateCalendarEvents($event)" (change)="refresh.next()">
        </mwl-calendar-day-view>
      </div>
    </div>


    <br />
    <div [ngSwitch]="view">
      <div class="row text-center">
        <div>
          <mat-form-field appearance="fill" class="selectGroup">
            <mat-label>Group</mat-label>
            <mat-select [(ngModel)]="chosenGroup" (valueChange)="choosenGroup($event)" name="group">
              <mat-option *ngFor="let c of groupList" [value]="c.GroupNumber">{{c.GroupNumber}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="send">
          <div class="d-flex flex-row-reverse">
            <button class="sendBtn" [hidden]="!chosenGroup" (click)="createMessage()" mat-raised-button> <span
                id="sendLbl">
                Send Time Table Link</span></button>
          </div>
        </div>
      </div>

      <div>

        <div *ngIf="isLoading" class="h6 mt-5 text-center">
          <img class="loadingImg" src="assets/images/loading.gif" alt="Loading...">
        </div>
        <div *ngIf="!isLoading">
          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
            [cellTemplate]="customCellTemplate" [events]="calendarEvents" [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (beforeViewRender)="updateCalendarEvents($event)" (eventClicked)="editEvent($event.event)">
          </mwl-calendar-month-view>

        </div>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="calendarEvents"
          (dayClicked)="addEvent()" [refresh]="refresh" (hourSegmentClicked)="openAddModal($event)"
          (eventClicked)="editEvent($event.event)" (beforeViewRender)="updateCalendarEvents($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="calendarEvents"
          [refresh]="refresh" (hourSegmentClicked)="openAddModal($event)" (eventClicked)="editEvent($event.event)"
          (beforeViewRender)="updateCalendarEvents($event)" (change)="refresh.next()">
        </mwl-calendar-day-view>
      </div>
    </div>

    <!-- Delete Modal -->
    <ng-template #deleteModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Are you sure to delete this?</h2>
      </div>
      <div class="content">
        Title: <strong>{{removeEvent?.title}}</strong>
      </div>
      <div class="content">
        Day: <strong>{{this.datepipe.transform(removeEvent.start, 'EEEE')}}</strong>
      </div>
      <div class="content">
        Start: <strong>{{this.datepipe.transform(removeEvent.start, ' HH:mm')}}</strong>
      </div>
      <div class="content">
        End: <strong>{{this.datepipe.transform(removeEvent.end, 'HH:mm')}}</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Cancel</button>
        <button type="button" [disabled]="loading" class="btn btn-danger" (click)="deleteEvent(removeEvent)">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>

          Delete</button>
      </div>
    </ng-template>
