<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex bg-image"></div>
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <form novalidate [formGroup]="forgetForm">
                <div id="login-container">
                  <h2 class="primary">Forgot your password?</h2>
                  <mat-card-subtitle>Let us help you</mat-card-subtitle>
                  <p>Enter your registered email address and we'll send you a verification to reset your password</p>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" formControlName="email" required>
                    <mat-error *ngIf="forgetForm.get('email').invalid">{{getValidationErrorMsg()}}</mat-error>
                  </mat-form-field>
                  <div>
                    <button mat-raised-button color="primary" class="Login-btn" (click)="onForget()">Send</button>
                  </div>
                  <div class="footer-sec">
                    <br>
                    <br>
                    <hr>
                    <a class="primary" routerLink='../login'>Login?</a>
                    <br>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

