<div class="modal-header">
    <h1 *ngIf="isAddMode" class="modal-title">Add Group</h1>
    <h1 *ngIf="!isAddMode" class="modal-title">Edit Group</h1>
       
</div>
    <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit()" >
            <div>
                <div class="form-group"  >
                    <label>Group Number</label>
                    <input [readonly]= "!isAddMode" type="text" class="form-control" id="Group_Number" name="Group_Number" [(ngModel)]="editGroup.GroupNumber" #Id='ngModel' required
                    length="9" />
                    <div class="alert alert-danger" *ngIf="Id.errors && (Id.dirty || form.submitted)">
                        <div *ngIf="Id.errors.required">Group Number is required.</div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="form-group col-6">
                    <label>Number Of Students</label>
                    <input type="number" id="NumberOfStudent" class="form-control" name="NumberOfStudent" [(ngModel)]="editGroup.NumberOfStudent"  required #NumberOfStudent="ngModel"/>
                    <div class="alert alert-danger" *ngIf="NumberOfStudent.errors && (NumberOfStudent.dirty || form.submitted)">
                        <div *ngIf="NumberOfStudent.errors.required">Number Of Student is required.</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Academic Year</label>
                    <input type="number" id="AcademicYear" class="form-control" name="AcademicYear" [(ngModel)]="editGroup.AcademicYear" required
                    #AcademicYear="ngModel">
                    <div class="form-control-feedback  alert alert-danger"
                        *ngIf="AcademicYear.errors && (AcademicYear.dirty || form.submitted)">
                        <p *ngIf="AcademicYear.errors.required">Academic Year is required</p>
                    </div>
                </div>
             </div>
            <div class="row mb-3">
                <div class="form-group col-6">
                    <label>Semester</label>
                    <input type="number" id="Semester" class="form-control"  name="Semester" [(ngModel)]="editGroup.Semester" required #Semester="ngModel"/>
                    <div class="form-control-feedback alert alert-danger"
                    *ngIf="Semester.errors && (Semester.dirty || form.submitted)">
                   <p *ngIf="Semester.errors.required">Semester is required</p>
                   
               </div>
                </div>    
            </div>
            <div class="row mb-3">
                <div class="form-group col-6">
                
                    <mat-form-field appearance="fill">
                        <mat-label>Choose Faculty</mat-label>
                        <mat-select [(ngModel)]="editGroup.Fac_Name" (valueChange)="choosenFaculty($event)" name="Faculty" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let c of facultyList" [value]="c.FacultyName">{{c.FacultyName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="groupControl.hasError('required')">Please choose a faculty</mat-error>

                    </mat-form-field>

                </div>
        <div class="form-group col-6">
            <mat-form-field appearance="fill">
                <mat-label>Courses</mat-label>
                <mat-select [(ngModel)]="editGroup.courses" (valueChange)="choosenCourse($event)" name="courses" multiple required>
                  <mat-option *ngFor="let c of courseList" [value]="c.CourseName" >{{c.CourseName}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
            </div>   
             <div class="form-group mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
                <a class="btn btn-link" (click)="activeModal.close('Close click')">Close</a>
            </div>
        </form>
    </div>



