mat-card.selection{
    width:15%;
    height: 300px;
    margin: 20px 36px;
  }
  mat-card.col{
   margin: 20px 5px;
   width: 97%;
 }

  .card
  {
     height: 700px; 
  }

  .btn
  {
     justify-content: center;
  }
  .excelBtn
  {
     margin-top:2%;
  }
  

 .table-resposive {
   margin-top: 10px;
   max-height: 500px; 
   max-width: 1300px;
   overflow-x: auto;
   overflow-y: auto;
 }
 
 table td, table th {
    
   padding: 10px 10px;
 }
 .mat-cell{
   font-size:12px;
   font-family: Verdana,Sans-Serif;
   display: table-cell;
   height: 48px;
   vertical-align: middle;
   border-bottom: 1px solid rgba(0, 0, 0, 0.12);
   border-top: 1px solid rgba(0, 0, 0, 0.12);
   border-left: 2px solid rgba(0, 0, 0, 0.12);
   border-right: 2px solid rgba(0, 0, 0, 0.12);
   }
   .mat-header-row{
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: var(--background-default) !important;
      color: var(--color-dark);
      }