<div class="modal-header">
  <h1 class="modal-title">Change Password</h1>
  

</div>
<div class="modal-body">

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-6">
        <label>Current Password</label>
        <input type="password" id="Description" class="form-control" name="Description" (click)="isCurrent=true" (blur)="checkCurrentPWD()" [(ngModel)]="currentPWD"
          #Password="ngModel">
          <div class="alert alert-danger" *ngIf="!isCurrent">
            <div *ngIf="!isCurrent">The password you typed does not match the current password</div>
        </div>
      </div>
      <div class="form-group col-6">
        <label>New Password</label>
            <input type="password" (click)="isSame=isCorrectFormat=true"  id="Description" class="form-control"  name="Description" [(ngModel)]="newPWD" (blur)="checkNewPWD()" 
              #Password="ngModel">
              <div class="alert alert-danger"   *ngIf="newPWD.length < 5 && newPWD.length != 0 && isCurrent">
                <div *ngIf="newPWD.length < 5 && newPWD.length != 0 && isCurrent" >New Password must contain at least 5 symbols </div>
            </div>
            <div class="alert alert-danger"   *ngIf="!isCorrectFormat  && isCurrent && newPWD.length > 0">
              <div *ngIf="!isCorrectFormat && isCurrent" >Incorrect symbols in new password.Use letters and digits only. </div>
          </div>
          <div class="alert alert-danger"   *ngIf="!isSame  && isCurrent && newPWD.length > 0">
            <div *ngIf="!isSame && isCurrent" >The new password cannot be the same as the current password </div>
        </div>
      </div>

      <div class="form-group col-6">
        <label>Confirm Password</label>
            <input type="password" id="Description" (blur)="confirmNewPWD()" (click)="isConfirmed=true"  class="form-control" name="Description" [(ngModel)]="confirmPWD"
              #Password="ngModel">
              <div class="alert alert-danger" *ngIf="!isConfirmed && isCurrent">
                <div *ngIf="!isConfirmed">The password confirm does not match</div>
            </div>
            <div class="alert alert-danger" *ngIf="newPWD.length == 0 && confirmPWD.length > 0">
              <div *ngIf="newPWD.length == 0">New password field is empty</div>
          </div>
      </div>
      <div class="form-group mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
        <button [disabled]="isLoading" class="btn btn-primary">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
        </button>
      </div>
  </form>
</div>
