<div class="modal-header">
    <h1 *ngIf="isAddMode" class="modal-title">Add Teacher</h1>
    <h1 *ngIf="!isAddMode" class="modal-title">Edit Teacher</h1>
    <button type="button" class="close btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">X</span>
    </button>
</div>
    <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit()" >
            <div>
                <div class="form-group" [ngClass]="{'d-none' : !isAddMode}">
                    <label>ID</label>
                    <input type="text" class="form-control" id="Id" name="Id" [(ngModel)]="editTeacher.Id" #Id='ngModel' required
                    length="9"/>
                    <div class="alert alert-danger" *ngIf="Id.errors && (Id.dirty || form.submitted)">
                        <div *ngIf="Id.errors.required">Id is required.</div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="form-group col-6">
                    <label>First Name</label>
                    <input type="text" id="First_name" class="form-control" name="First_name" [(ngModel)]="editTeacher.First_name"  required #firstName="ngModel"/>
                    <div class="alert alert-danger" *ngIf="firstName.errors && (firstName.dirty || form.submitted)">
                        <div *ngIf="firstName.errors.required">First Name is required.</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Last Name</label>
                    <input type="text" id="Last_name" class="form-control" name="Last_name" [(ngModel)]="editTeacher.Last_name" required
                    #lastName="ngModel">
                    <div class="form-control-feedback  alert alert-danger"
                        *ngIf="lastName.errors && (lastName.dirty || form.submitted)">
                        <p *ngIf="lastName.errors.required">Last name is required</p>
                    </div>
                </div>
             </div>
            <div class="row mb-3">
                <div class="form-group col-6">
                    <label>Email</label>
                    <input type="text" id="Email" class="form-control"  name="Email" [(ngModel)]="editTeacher.Email" required #email="ngModel" pattern="[^ @]*@[^ @]*"/>
                    <div class="form-control-feedback alert alert-danger"
                    *ngIf="email.errors && (email.dirty || form.submitted)">
                   <p *ngIf="email.errors.required">Email is required</p>
                   <p *ngIf="email.errors.pattern">Email must contain at least the @ character</p>
               </div>
                </div>
                <div class="form-group col-6">
                    <label>Phone</label>
                    <input type="number" id="Phone" class="form-control" name="Phone" required name="Phone" [(ngModel)]="editTeacher.Phone" #phone="ngModel"/>
                <div class="form-control-feedback  alert alert-danger"
                *ngIf="phone.errors && (phone.dirty || form.submitted)">
                <p *ngIf="phone.errors.required">Phone is required</p>
            </div>
        </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col">
                    <div>Gender </div>
                    <div class="row">
                        <div class="col-4">
                            <input class="mr-3" type="radio" value="male" id="Gender" name="Gender" required [(ngModel)]="editTeacher.Gender"> Male
                        </div>
                        <div class="col">
                            <input class="pl-3" type="radio" value="female" id="Gender" name="Gender" required [(ngModel)]="editTeacher.Gender"> Female
                        </div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Birth Date</label>
                    <input type="date"  id="Birth_date" class="form-control" name="Birth_date" required [(ngModel)]="editTeacher.Birth_date" #birth="ngModel" />
                
                <div class="form-control-feedback  alert alert-danger"
                *ngIf="birth.errors && (birth.dirty || form.submitted)">
                <p *ngIf="birth.errors.required">Birth date is required</p>
            </div>
        </div>
            </div>
                <div class="row mb-3" ngModelGroup="Address">
                    <div class="col-4 form-group">
                      <label for="city">City</label>
                      <input type="text" id="City" name="City" class="form-control" required [(ngModel)]="address.City" #city="ngModel">
                      <div class="form-control-feedback  alert alert-danger"
                *ngIf="city.errors && (city.dirty || form.submitted)">
                <p *ngIf="city.errors.required">City is required</p>
            </div>
                    </div>
                 
                    <div class="col-4 form-group">
                      <label for="street">Street</label>
                      <input type="text" id="Street" name="Street"  class="form-control" required [(ngModel)]="address.Street" #street="ngModel"> 
                      <div class="form-control-feedback  alert alert-danger"
                      *ngIf="street.errors && (street.dirty || form.submitted)">
                      <p *ngIf="street.errors.required">Street and number of home is required</p>
                  </div>
                    </div>
                 
                    <div class="col-4 form-group">
                      <label for="pincode">Zip Code</label>
                      <input type="text" id="ZipCode" name="ZipCode" class="form-control" required [(ngModel)]="address.ZipCode">
                    </div>
                  </div>

            
              <div class="form-group mb-3">
                <mat-form-field appearance="fill">
                    <mat-label>Courses</mat-label>
                    <mat-select [(ngModel)]="editTeacher.TeachesCourses" (valueChange)="choosenCourse($event)" name="courses" multiple>
                      <mat-option *ngFor="let c of courseList" [value]="c.CourseName" >{{c.CourseName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="form-group mb-3">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
                <a class="btn btn-link" (click)="activeModal.close('Close click')">Cancel</a>
            </div>
        </form>
    </div>



